{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{% static 'market_data/css/stylesheet.css' %}" type="text/css"/> 
    
    
</head>
<style>
    .container{
   display:grid;
  grid-template-rows:8vh 19vh 63vh 10vh;
  grid-template-columns:300px auto;
   grid-template-areas: 
   "one two two two"
   "one three three three"
   "one four four four "
   "one five five five";
   gap:10px;
}
.one{grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.four{grid-area: four;}
.five{grid-area: five;}



</style>
<body>
<div class="container">
    <div class="one">
    <div id="mySidenav" class="sidenav">
        <a href="{% url 'table_details2' %}">
            <i class="fa fa-home" aria-hidden="true"style="font-size: 30px;position:relative;top:150px;"></i>
            <h2 style="display: inline; margin-left: 5px;position:relative;top:150px;">HOME</h2>
        </a>
        <P><a class="links" href="{% url 'rbinewhome' %}">   Probe Agile Data</a></p>
            <span><a class="links" href="{% url 'table_details2' %}"> Market Data  </a></span>
        <p class="logo"><span>Data sources</span></p>
        <hr>
        <!-- {% for table_name in table_names %}
        <a href="{% url 'table_details' table_name %}"
        class="table-link">&nbsp;{{ table_name }} </a>
        {% endfor %} -->

        <!-- In your template where you generate links -->
        {% for table_name, url_name in url_friendly_names %}
        <a href="{% url 'table_details' url_name %}" class="table-link">&nbsp;{{ table_name }}</a>
        {% endfor %} 
    </div>
   </div>
      
        <div class="two">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: #f7403b;" class="nav">  Data Extraction Status for Market Data Sources </span>
            </div>
        </div>  
          
       
    <div class="three">
            <div class="box">
                        <div class="headtext">{{ table_name }} </div>
                        <div  class="headtext123" style="{% if recent_status == 'Active' %}color: greenyellow;{% elif recent_status == 'Inactive' %}color: red;{% else %}color: orange;{% endif %};">
                        {{ recent_status }}
                        </div>
                        <div class="aligned">Start date: <span id="start_date_display">{{ start_date|date:"d/m/Y" }}</span> | End date: <span id="end_date_display">{{ end_date|date:"d/m/Y" }}</span></div>
                        <div class="dropdown" style="text-align: right;" >
                            <select class="listview" name="time_range" id="time_range_select" onchange="toggleDateInputs();updateDownloadLink();" style= "width:250px;">
                                <option value="7" {% if time_range == '7' %}selected{% endif %}>Past 7 Days</option>
                                <option value="15" {% if time_range == '15' %}selected{% endif %}>Past 15 Days</option>
                                <option value="30" {% if time_range == '30' %}selected{% endif %}>Past 30 Days</option>
                                <option value="custom" {% if time_range == 'custom' %}selected{% endif %}>Custom view</option>
                            </select>                            
                            <form id="date_range_form" method="GET" action="" style="display:none;">
                                <label for="from_date"></label>
                                <input type="date" name="from_date" id="from_date" value="{% if from_date %}{{ from_date|date:'d-m-Y' }}{% endif %}">
                                
                                <label for="to_date"></label>
                                <input type="date" name="to_date" id="to_date" value="{% if to_date %}{{ to_date|date:'d-m-Y' }}{% endif %}">
                            </form>
                        <button type="button" onclick="setDefaultDates(); submitForm();updateDownloadLink();"style="margin-left: 10px;">Apply</button>
                        <div class="excellink"><a id="download_excel_link" href="?download_excel=1{% if time_range == 'custom' %}&from_date={{ from_date }}&to_date={{ to_date }}{% endif %}">
                            Download Excel
                        </a></div>
                        <div id="date_range_error"></div>
                    </div>
                </div>
        </div>
        
   
        <div class="four">
                <div class="content-box">
                    <title>{{ table_name }} Details</title>
                    <!-- Display data if structured_data exists -->
                    {% if structured_data %}
                        <div class="card">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th># Records Available</th>
                                        <th># Records Scraped</th>
                                        <th>Failure Reason</th>
                                        <th>Trade Date</th>
                                        <!-- Conditionally show these columns only for specific table_names -->
                                        {% if table_name == 'bse security list' or table_name == 'NSE security list equity segment' or table_name == 'NSE security list trading sme' %}
                                            <th>Newly Added Count</th>
                                            <th>Deleted Source Count</th>
                                        {% endif %} 
                                        <!-- <th>Newly Added Count</th>
                                        <th>Deleted Source Count</th> -->
                                        <th>Scraped Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in structured_data %}
                                        <tr>
                                            <td style="padding: 5px;"> <span style="color: {% if entry.status|lower == 'success' %}green{% elif entry.status == 'failure' and table_name in amber_table_names %}orange{% else %}red{% endif %}">
                                                {% if entry.data %}
                                                    {{ entry.data.status|default:'-' }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                            </td>
                                            <td>
                                                {% if entry.data %}
                                                    {{ entry.data.no_of_data_available|default:'-' }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td style="padding: 5px;"> <span style="color: {% if entry.status|lower == 'success' %}green{% elif entry.status == 'failure' and table_name in amber_table_names %}orange{% else %}red{% endif %}">
                                                {% if entry.data %}
                                                    {{ entry.data.no_of_data_scraped|default:'-' }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                            </td>
                                            <td style="padding: 5px;"> <span style="color: {% if entry.status|lower == 'success' %}green{% elif entry.status == 'failure' and table_name in amber_table_names %}orange{% else %}red{% endif %}">
                                                {% if entry.data  %}
                                                    {{ entry.data.reason|default:'-' }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                            </td>
                                            <td>{{ entry.trade_date|date:"d-m-Y"|default:'-' }}</td>

                                            {% if table_name == 'bse security list' or table_name == 'NSE security list equity segment' or table_name == 'NSE security list trading sme' %}
                                            <td style="padding: 5px;">
                                               
                                                    {{ entry.data.newly_added_count|default:'-' }}
                                               
                                            </span>
                                            </td>
                                            {% endif %}    
                                            {% if table_name == 'bse security list' or table_name == 'NSE security list equity segment' or table_name == 'NSE security list trading sme' %}
                                            <td style="padding: 5px;">
                                                {% if entry.data %}
                                                    <span style="color: red;">
                                                        {{ entry.data.deleted_source_count|default:'-' }}
                                                    </span>
                                                {% else %}
                                                    <span style="color: red;">-</span>
                                                {% endif %}
                                            </td>
                                            {% endif %} 
                                            <td>
                                                {% if entry.data and entry.data.Scraped_on %}
                                                    {{ entry.data.Scraped_on|date:"d-m-Y"|default:'-' }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
       
         <div class="five">
            <div class="col-div-4" style="text-align:center;">
                <div style="text-align: center;">
				<p style="color: red;font-size:21px;"> Contact us for support : <a href="mailto:agiledatahelp@gmail.com" target="_blank" rel="noopener noreferrer" style="color: red;font-size:21px;">agiledatahelp@gmail.com</a></p>
			</div>
		</div>
    </div>
   

    <script>
        // Pass the Django variable to a global JavaScript variable
        var selectedTable = "{{ table_name|escapejs }}";
    </script>
    <script src="{% static 'market_data/js/table_details.js' %}"></script>
</body>
</html>
